<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ColorSpace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link mr-auto" href="/spaces/new">Create New</a>
        <a class="nav-item nav-link mr-auto" href="/auth/logout">Logout</a>
      </div>
    </div>
  </nav>
</header>

<h3>User Profile Page</h3>

<hr/>

<div class="container">
  <div class="card-deck">
    <% spaces.forEach(function(space) { %>
      <div class="container-fuid">
        <div class=" col-sm-6">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="<%= space.url %>" alt="Space Inspiration Image">
              <div class="card-body">
                <h4 class="card-title"><%= space.name %></h4>
                <% space.colors.forEach(function(color) { %>
                <div class="swatches" style="background:<%= color.hex %>; height: 30px; width: 30px; display: inline-block;"></div>
                <% }); %>
                <p class="card-text">Add notes to a space</p>
                <a href="/spaces/<%= space.id %>" class="btn btn-light">View Space</a>
                <a href="/spaces/<%= space.id %>/edit" class="btn btn-light edit" role="button">Edit</a>
                <a href="/spaces/<%= space.id %>" class="btn btn-light delete" role="button">Delete</a>
              </div>
            </div>
          </div>
        </div>
    <% }); %>
  </div>
</div>
