<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ColorSpace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" class="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/spaces">Back to Profile</a>
        <a class="nav-item nav-link" href="/auth/logout">Logout</a>
      </div>
    </div>
  </nav>
</header>

<h2>Individual Room Display Page</h2>

<hr />

<div class="all-swatches">
    <% space.colors.forEach(function(color) { %>
      <div class="swatches">
        <div class="front" style="background:<%= color.hex %>;">
          <p>COLOR</p>
          <span><%= color.hex %></span>
        </div>
        <div class="back">
          <p>RGB <span><%= color.r %>,<%= color.g %>,<%= color.b %></span></p>
          <p>CMYK <span><%= color.c %>,<%= color.m %>,<%= color.y %>,<%= color.k %></span></p>
          <p>HEX <span><%= color.hex %></span></p>
        </div>
      </div>
    <% }); %>
</div>


<hr />

<img src="<%= space.url %>" height="100" width="155">
