<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ColorSpace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/spaces">Back to Profile</a>
        <a class="nav-item nav-link" href="/auth/logout">Logout</a>
      </div>
    </div>
  </nav>
</header>

<h2><%= space.name %></h2>

<hr />

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-xs-6">
      <img src="<%= space.url %>" class="show-image">
    </div>
    <div class="col-sm-6 col-xs-6">
      <h4>Notes:</h4>
      <p class="space-notes"><%= space.note %></p>
    </div>
  </div>
</div>

<hr />

<div class="all-swatches col-sm-12 col-xs-12">
    <% space.colors.forEach(function(color) { %>
      <div class="swatches">
        <div class="front" style="background:<%= color.hex %>;">
          <footer class="color-details">
            <h6>COLOR</h6>
            <span><%= color.hex %></span>
          </footer>
        </div>
        <div class="back">
          <p>RGB <span><%= color.r %>,<%= color.g %>,<%= color.b %></span></p>
          <p>CMYK <span><%= color.c %>,<%= color.m %>,<%= color.y %>,<%= color.k %></span></p>
          <p>HEX <span><%= color.hex %></span></p>
        </div>
      </div>
    <% }); %>
</div>

<hr />

<div class="container">
  <div class="card border-dark mb-3 show-cards" style="max-width: 20rem;">
    <div class="card-header">Bold Colors</div>
    <div class="card-body text-dark">
      <h4 class="card-title">Add richness to your space</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-dark mb-3 show-cards" style="max-width: 20rem;">
    <div class="card-header">Neutral Colors</div>
    <div class="card-body text-dark">
      <h4 class="card-title">Scale well for larger application</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-dark mb-3 show-cards" style="max-width: 20rem;">
    <div class="card-header">Everything Else</div>
    <div class="card-body text-dark">
      <h4 class="card-title">Colors with medium depth are versitile</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>




<!-- end -->
